:root {
    --green: #bfe5d9;
    --darkGrey: #2f2e2e;
}

body {
    background-color: lightgrey;
    font-family: sans-serif;
}

header {
    background-color: var(--darkGrey);
    margin: 1%;
    position: relative;
}

header h1 {
    background-color: var(--green);
    color: var(--darkGrey);
    font-size: 36px;
    font-weight: 500;
    padding: 5px 5px 5px 50px;
    position: absolute;
    top: 5%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 2%;
    margin-right: 20px;
    font-size: 18px;
    color: var(--green);
}

nav ul li {
    padding: 1%;
}

figure img {
    height: 200px;
    position: relative;
    object-fit: cover;
}

figure h2 {
    background-color: var(--green);
    color: var(--darkGrey);
    position: absolute;
    right: 30px;
    bottom: 25px;
    z-index: 2;
    font-size: 22px;
    font-weight: 100;
    padding: 5px;
}

main {
    margin: 2% 8%;
    color: var(--darkGrey);
}

section {
    margin: 2%;
}

section h2 {
    font-size: 30px;
    font-weight: 100;
}

/* button {
    display: flex;
    border: var(--green);
    border-width: 5px;
    position: relative;
}

button div {
    position: absolute;
} */

/* .larger-section {
    width: 100%;
    flex-grow: 3;
} */

button:hover {
    box-shadow: inset 0px 0px 10px var(--green);
}

.contact-me {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 922px) {
    nav ul {
        flex-direction: column;
    }
}